#container {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 1em;
    grid-row-gap: 0em;
    background-color: 'black';

}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

li {
    list-style: none;
    list-style-position: outside;
    margin: 0;
}

button {
    padding: 10px;
}

#title {
    grid-column: 1/span 2;
    grid-row: 1;
    text-align: center;
    font-size: 2em;
}

#title h1 {}

#menu {
    grid-column: 1 /span 2;
    grid-row: 2;
    text-align: center;
}


/*
#login {
    grid-column: 3 /span 1;
    grid-row: 1;
    padding: 20px;
    text-align: right;
*/
}

#login #email {
    grid-column: 3 /span 1;
    grid-row: 1;
    padding: 10px;

}

#login #password {
    grid-column: 3 /span 1;
    grid-row: 1;
    padding: 5px;
}

#login-button{
    grid-column: 3;
    grid-row: 2;
    margin-top: 10px;
}

#main {
    grid-row: 3 /span 3;
    grid-column: 1 /span 2;
}

#main .post-image{
    grid-row: 1;
    grid-column:2 ;
}

#main .profile-image{
    height: 5em;
    width: 5em;
    margin-bottom: 0
}

#profile {
    grid-column: 3/span 1;
    grid-row: 2 / span 1;
    text-align: center;
    padding: 0px;
}

#social {
    grid-column: 3 / span 1;
    grid-row: 4;
    
}

#social li {
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    margin: 5em;
    font-size: 1.2em;
    text-align: left;
    margin-right: 0px;

}


#profile-main {
    grid-row: 2 /span 3;
    grid-column: 2 /span 1;
}

#user-info {
    grid-column: 3;
    grid-row: 3;
    text-align: center;


}